<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Add your CSS and other meta tags here -->
</head>
<body>
<h1>MUESTRAS</h1>

<!-- Display existing Muestras data in a table -->
<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>NIF</th>
        <th>Cultivo</th>
        <th>Solucion</th>
    </tr>
    </thead>
    <tbody>
    <!-- Use Thymeleaf iteration to populate table rows -->
    <tr th:each="muestra : ${muestrasList}">
        <td th:text="${muestra.getID()}"></td>
        <td th:text="${muestra.getNIF_Paciente()}"></td>
        <td th:text="${muestra.getCultivo()}"></td>
        <td th:text="${muestra.Solucion.getId()}"></td>
        <td>
            <form th:action="@{/mostrarMuestra}" method="post" id="formId">
                <input type="hidden" name="muestraId" th:value="${muestra.getID()}" />
                <button type="submit" onclick="submitForm(this)">Mostrar</button>
            </form>
        </td>

        <script th:inline="javascript">
            function submitForm(button) {
                var form = button.parentElement;
                form.submit();
            }
        </script>

    </tr>
    </tbody>
</table>


<!-- CAMPOS DE TEXTO -->
<form th:action="@{/guardar-muestra}" method="post" th:object="${muestra}">

    <!-- Campo para NIF del Paciente -->
    <label>NIF <input type="text" id="NIF_Paciente" th:field="*{NIF_Paciente}"/></label><br/>

    <!-- Campo para el Cultivo -->
    <label>Cultivo <input type="text" id="Cultivo" th:field="*{Cultivo}"/></label><br/>

    <!-- Campo para la Solución -->
    <label>Solucion:
        <select style="width:20ch; height:10ch;" name="Solucion" id="Solucion" th:field="*{Solucion}" th:size="${soluciones.size()}">
            <option th:each="solucion : ${soluciones}"
                    th:value="${solucion.getId()}"
                    th:text="${solucion.getSolucion()}"
                    th:selected="*{Solucion}"></option>
        </select>
    </label><br/>

    <button th:if="${usuario.getRolName() eq 'admin'}" type="submit">Insertar</button>
    <button type="submit" th:if="${usuario.getRolName() eq 'admin'}">Borrar</button> <!--Se debería de hacer un subformulario-->
    <button type="submit" th:if="${usuario.getRolName() ne 'invitado'}">Actualizar</button> <!--Se debería de hacer un subformulario-->
    <button type="reset">Limpiar</button> <!--Se debería de hacer un subformulario y controller debería limpiar los campos-->


</form>
    <button>Salir</button>
<!-- Add your JavaScript (if needed) for interactions -->
</body>
</html>